In [1]:
import os

import pandas as pd
import numpy as np

import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine

from flask import Flask, jsonify, render_template
from flask_sqlalchemy import SQLAlchemy

app = Flask(__name__)


#################################################
# Database Setup
#################################################

app.config["SQLALCHEMY_DATABASE_URI"] = "sqlite:///db/charts_BB.sqlite"
db = SQLAlchemy(app)

# reflect an existing database into a new model
Base = automap_base()
# reflect the tables
Base.prepare(db.engine, reflect=True)

/anaconda3/lib/python3.5/site-packages/flask_sqlalchemy/__init__.py:794: FSADeprecationWarning: SQLALCHEMY_TRACK_MODIFICATIONS adds significant overhead and will be disabled by default in the future.  Set it to True or False to suppress this warning.
  'SQLALCHEMY_TRACK_MODIFICATIONS adds significant overhead and '

In [2]:

# Save references to each table
Samples_Metadata = Base.classes.sample_metadata
Samples = Base.classes.samples


@app.route("/")
def index():
    """Return the homepage."""
    return render_template("index.html")


@app.route("/names")
def names():
    """Return a list of sample names."""

    # Use Pandas to perform the sql query
    stmt = db.session.query(Samples).statement
    df = pd.read_sql_query(stmt, db.session.bind)

    # Return a list of the column names (sample names)
    return jsonify(list(df.columns)[2:])


@app.route("/metadata/<sample>")
def sample_metadata(sample):
    """Return the MetaData for a given sample."""
    sel = [
        Samples_Metadata.currentWeekPosition,
        Samples_Metadata.previousWeekPosition,
        Samples_Metadata.peakPosition,
        Samples_Metadata.peakPosition1,
        Samples_Metadata.titleArtist,
        Samples_Metadata.entryDate,
        Samples_Metadata.entryPosition,
    ]

    results = db.session.query(*sel).filter(Samples_Metadata.sample == sample).all()

    # Create a dictionary entry for each row of metadata information
    sample_metadata = {}
    for result in results:
        sample_metadata["currentWeekPosition"] = result[1]
        sample_metadata["previousWeekPosition"] = result[2]
        sample_metadata["peakPosition"] = result[3]
        sample_metadata["peakPosition.1"] = result[4]
        sample_metadata["titleArtist"] = result[5]
        sample_metadata["entryDate"] = result[6]
        sample_metadata["entryPosition"] = result[7]

    print(sample_metadata)
    return jsonify(sample_metadata)


@app.route("/samples/<sample>")
def samples(sample):
    """Return `sample_values`."""
    stmt = db.session.query(Samples).statement
    df = pd.read_sql_query(stmt, db.session.bind)

    # Filter the data based on the sample number and
    # only keep rows with values above 1
    sample_data = df.loc[df[sample] > 1, ["entryPosition", "currentWeekPosition", sample]]
    # Format the data to send as json
    data = {
        "entryPosition": sample_data.entryPosition.values.tolist(),
        "sample_values": sample_data[sample].values.tolist(),
        "currentWeekPosition": sample_data.currentWeekPosition.tolist(),
    }
    return jsonify(data)


if __name__ == "__main__":
    app.run()

AttributeError: sample_metadata

In [3]:
stmt = db.session.query('* FROM  billboard_listing').statement

In [4]:
df = pd.read_sql_query(stmt, db.session.bind)

In [5]:
df

,index,currentWeekPosition,previousWeekPosition,peakPosition,Total Weeks,titleArtist,entryDate,entryPosition
0,0,1,1,1,3,In My Feelings ...,2018-07-14,6
1,1,2,2,1,15,I Like It ...,2018-04-21,8
2,2,3,3,3,8,Girls Like You ...,2018-06-09,94
3,3,4,4,1,15,Nice For What ...,2018-04-21,1
4,4,5,5,5,16,Boo'd Up ...,2018-04-14,78
5,5,6,7,3,10,Lucid Dreams ...,2018-05-26,74
6,6,7,12,7,12,Better Now ...,2018-05-12,7
7,7,8,8,3,13,No Tears Left To Cry ...,2018-05-05,3
8,8,9,9,1,21,Psycho ...,2018-03-10,2
9,9,10,6,1,26,God's Plan ...,2018-02-03,1
10,10,11,NEW,11,1,God Is A Woman ...,2018-07-28,11
11,11,12,15,12,19,Delicate ...,2018-03-24,84
12,12,13,18,13,8,Taste ...,2018-06-09,82
13,13,14,13,5,25,The Middle ...,2018-02-10,23
14,14,15,10,1,20,Sad! ...,2018-03-17,17
15,15,16,17,6,10,Yes Indeed ...,2018-05-26,49
16,16,17,14,2,39,Meant To Be ...,2017-11-11,61
17,17,18,20,11,23,Friends ...,2018-02-24,72
18,18,19,22,1,44,Perfect ...,2017-10-07,89
19,19,20,11,2,3,Nonstop ...,2018-07-14,2
20,20,21,25,21,22,Love Lies ...,2018-03-03,43
21,21,22,19,11,26,Mine ...,2018-02-03,56
22,22,23,23,11,18,In My Blood ...,2018-03-31,72
23,23,24,16,7,8,I'm Upset ...,2018-06-09,19
24,24,25,24,21,18,Tequila ...,2018-03-31,87
25,25,26,29,26,15,One Kiss ...,2018-04-21,62
26,26,27,31,22,10,Back To You ...,2018-05-26,50
27,27,28,30,13,5,Apeshit ...,2018-06-30,13
28,28,29,33,29,23,I Like Me Better ...,2018-02-24,96
29,29,30,26,6,29,Never Be The Same ...,2018-01-13,71
...,...,...,...,...,...,...,...,...
2170,2170,71,54,54,8,Medicine ...,2018-06-30,100
2171,2171,72,61,60,5,Jackie Chan ...,2018-07-21,88
2172,2172,73,68,68,3,Africa ...,2018-08-04,86
2173,2173,74,69,69,4,Broken ...,2018-07-28,84
2174,2174,75,65,63,6,Don't Go Breaking My Heart ...,2018-07-14,84
2175,2175,76,NEW,76,1,Could've Been ...,2018-08-18,76
2176,2176,77,67,67,6,Kiss Somebody ...,2018-07-14,76
2177,2177,78,56,18,8,Changes ...,2018-06-30,18
2178,2178,79,NEW,79,1,Trip ...,2018-08-18,79
2179,2179,80,52,1,14,This Is America ...,2018-05-19,1
2180,2180,81,74,74,4,Remind Me To Forget ...,2018-07-28,94
2181,2181,82,72,72,4,Hooked ...,2018-07-28,85
2182,2182,83,71,65,6,Growing Pains ...,2018-07-14,99
2183,2183,84,63,43,8,Bed ...,2018-06-30,43
2184,2184,85,78,53,4,You Say ...,2018-07-28,53
2185,2185,86,94,86,3,Lose It ...,2018-08-04,98
2186,2186,87,NEW,87,1,Lean Wit Me ...,2018-08-18,87
2187,2187,88,73,49,20,Up Down ...,2018-04-07,86
2188,2188,89,81,81,6,Cry Pretty ...,2018-07-14,87
2189,2189,90,85,85,4,Break Up In The End ...,2018-07-28,91
2190,2190,91,62,43,11,I Was Jack (You Were Diane) ...,2018-06-09,93
2191,2191,92,82,81,3,Best Part ...,2018-08-04,81
2192,2192,93,70,70,7,Sin Pijama ...,2018-07-07,83
2193,2193,94,64,13,6,Mob Ties ...,2018-07-14,13
2194,2194,95,92,92,2,That's On Me ...,2018-08-11,92
2195,2195,96,51,50,7,Coming Home ...,2018-07-07,88
2196,2196,97,75,67,4,Wasted ...,2018-07-28,68
2197,2197,98,99,98,2,Handgun ...,2018-08-11,99
2198,2198,99,86,86,3,Nevermind ...,2018-08-04,90
2199,2199,100,79,44,4,Summertime Magic ...,2018-07-28,44

In [35]:
sample_data = df.loc[df['index'] , ["entryPosition",
                                      "currentWeekPosition" ,"peakPosition" ]]

In [5]:
sample_data

SyntaxError: invalid syntax (<ipython-input-5-1789be15ed1d>, line 3)

In [21]:
 getattr(df, 'previousWeekPosition')

0         1
1         2
2         3
3         4
4         5
5         7
6        12
7         8
8         9
9         6
10      NEW
11       15
12       18
13       13
14       10
15       17
16       14
17       20
18       22
19       11
20       25
21       19
22       23
23       16
24       24
25       29
26       31
27       30
28       33
29       26
       ...
2170     54
2171     61
2172     68
2173     69
2174     65
2175    NEW
2176     67
2177     56
2178    NEW
2179     52
2180     74
2181     72
2182     71
2183     63
2184     78
2185     94
2186    NEW
2187     73
2188     81
2189     85
2190     62
2191     82
2192     70
2193     64
2194     92
2195     51
2196     75
2197     99
2198     86
2199     79
Name: previousWeekPosition, Length: 2200, dtype: object

AttributeError: billboard_listing

InvalidRequestError: SQL expression, column, or mapped entity expected - got 'None'